# .env.example
# DEFAULT LOCAL DEV ENVIRONMENT VARIABLES
# Copy this file to '.env' to run the application locally.

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=relay_hub

# Dummy secret for local development only
JWT_SECRET=EGNXgWc9pQblS+Q+6zsp9iywzZuXRI8c0aufbFEGGgQ=